asgiref
coverage
dj-database-url
Django
django-appconf
django-compressor
django-debug-toolbar
django-extensions
django-heroku
django-libsass
flake8
gunicorn
libsass
mccabe
mysqlclient
parameterized
Pillow
psycopg2
pycodestyle
pyflakes
rcssmin
rjsmin
six
sqlparse
whitenoise
