<section class="about-section">
  <div>
    <div class="left">
      <h3>Local</h1>
      <p>
        McKeever Bros Safety is a leading provider in Health & Safety Courses, specialising in Manual Handling Training. Our accredited instructors provide the highest quality training to keep your workplace safe and compliant with current regulatory requirements.
      </p>
    </div>
    <div class="middle">
      <h3>Flexible</h1>
      <p>
        Based in Ballymount, Dublin 24, we cater for both individuals and groups. Our Training Courses can be carried out at our premises or on site, at a location that suits you. Same day certification is provided on completion.
      </p>
    </div>
    <div class="right">
      <h3>Quality</h1>
      <p>
        At McKeever Bros Safety we pride ourselves in providing the highest standard of health and safety training at competitive prices. Our courses are interactive, fun and delivered by experienced QQI certified instructors.
      </p>
    </div>
  </div>
</section>
