<section class="about-section">
  <div>
    <div class="left">
      <h3>{{ site_settings.about_column_one_header }}</h1>
      <p>
        {{ site_settings.about_column_one_description }}
      </p>
    </div>
    <div class="middle">
      <h3>{{ site_settings.about_column_two_header }}</h1>
      <p>
        {{ site_settings.about_column_two_description }}
      </p>
    </div>
    <div class="right">
      <h3>{{ site_settings.about_column_three_header }}</h1>
      <p>
        {{ site_settings.about_column_three_description }}
      </p>
    </div>
  </div>
</section>
