<section class="contact-section" id="contact">
  <div>
    <div class="left">
      <h3>Get in touch</h3>
      <p>
        Help us to help you! Give us a call or send us an email with your
        requirements and we will be sure to help.
      </p>
      <ul>
        <li>
          <i class="fas fa-envelope"></i>
          <span>info@mckeeverbrossafety.com</span>
        </li>
        <li>
          <i class="fas fa-phone"></i>
          <span>+353 87 222 1736</span>
        </li>
      </ul>
    </div>
    <div class="right"></div>
  </div>
</section>
