<section class="courses-section" id="courses">
  <div>
    <div class="top">
      <h2>{{ site_settings.courses_header }}</h2>
      <p>{{ site_settings.courses_description }}</p>
    </div>
    <div class="middle">
      <h3>{{ site_settings.courses_manual_handling_header }}</h3>
      {% if site_settings.courses_manual_handling_description %}
      <p>{{ site_settings.courses_manual_handling_description }}</p>
      {% endif %}
      <div>
        <ul>
          {% for summary_item in manual_handling_summary_items %}
          <li>
            <i class="fas fa-{{ summary_item.icon_name }}"></i>
            <span>{{ summary_item.label }}</span>
          </li>
          {% endfor %}
        </ul>
        <ul>
          {% for course_outline_item in manual_handling_course_outline_items %}
          <li>
            <i class="fas fa-check-circle"></i>
            <span>{{ course_outline_item.label }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="bottom">
      <h3>{{ site_settings.courses_other_courses_header }}</h3>
      <p>{{ site_settings.courses_other_courses_description }}</p>
      <div>
        <ul>
          {% for item in other_courses_items %}
          <li>
            <i class="fas fa-check-circle"></i>
            <span>{{ item.label }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
