<section class="reviews-section">
  <div>
    <h2>{{ site_settings.reviews_header }}</h2>
    <div>
      <div class="left">
        <p>
          {{ site_settings.reviews_column_one_description }}
        </p>
        <div class="author">{{ site_settings.reviews_column_two_author }}</div>
      </div>
      <div class="middle">
        <p>
          {{ site_settings.reviews_column_two_description }}
        </p>
        <div class="author">{{ site_settings.reviews_column_two_author }}</div>
      </div>
      <div class="right">
        <p>
          {{ site_settings.reviews_column_three_description }}
        </p>
        <div class="author">{{ site_settings.reviews_column_three_author }}</div>
      </div>
    </div>
  </div>
</section>
